<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Purchase Book</title>
  <%= stylesheet_link_tag 'purchases', media: 'all' %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="book-image">
        <%= image_tag @book.Image_url, alt: 'Book Cover' %>
      </div>
      <div class="col-sm-6">
        <h1 class="text-center">Purchase Book</h1>
        <%= turbo_frame_tag 'purchase_form' do %>
          <%= form_with model: @purchase, url: purchases_path do |f| %>
            <%= hidden_field_tag :book_id, @book.id %>
            <div class="form-group">
              <%= f.label :book_name, 'Book Name' %>
              <%= f.text_field :book_name, class: 'form-control', readonly: true %>
            </div>
            <div class="form-group">
              <%= f.label :book_price, 'Book Price' %>
              <%= f.text_field :book_price, class: 'form-control', readonly: true %>
            </div>
            <div class="form-group">
              <%= f.label :name, 'Name' %>
              <%= f.text_field :name, class: 'form-control', required: true %>
            </div>
            <div class="form-group">
              <%= f.label :surname, 'Surname' %>
              <%= f.text_field :surname, class: 'form-control', required: true %>
            </div>
            <div class="form-group">
              <%= f.label :email, 'Email' %>
              <%= f.email_field :email, class: 'form-control', required: true %>
            </div>
            <div class="form-group">
              <%= f.label :country, 'Country' %>
              <%= f.text_field :country, class: 'form-control', required: true %>
            </div>
            <div class="form-group">
              <%= f.label :city, 'City' %>
              <%= f.text_field :city, class: 'form-control', required: true %>
            </div>
            <div class="form-group">
              <%= f.label :address, 'Address' %>
              <%= f.text_area :address, class: 'form-control', rows: 3, required: true %>
            </div>
            <div class="btn-buy">
              <%= f.submit 'Purchase', class: 'btn-buy' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
