<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'library', media: 'all' %>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <%= link_to book_info_index_path(book), class: 'link-class' do %>
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= book.Title %></h5>
            <p class="card-text text-muted"><%= book.Author %></p>
            <p class="card-text"><%= truncate(book.Description, length: 100) %></p>
          </div>
          <div class="card-footer">
            <p class="card-text text-end"><strong><%= number_to_currency(book.Price) %></strong></p>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
