<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <%= stylesheet_link_tag 'login', media: 'all' %>
</head>
<body>
<div class="login-wrapper">
  <%= form_tag login_path, class: "login-form" do %>
    <h2>Login</h2>
    <div class="form-group">
      <%= label_tag :username %>
      <%= text_field_tag :username, nil, required: true %>
    </div>
    <div class="form-group">
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, required: true %>
    </div>
    <div class="form-actions">
      <%= submit_tag "Sign In", class: "btn btn-primary" %>
      <%= link_to "Register", "#", class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
</body>
</html>
